@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss' source(none);

@source "../src";

@custom-variant dark (&:where(.dark, .dark *));

@custom-variant hover (&:hover);

@theme {
	--color-border: hsl(var(--border));
	--color-input: hsl(var(--input));
	--color-ring: hsl(var(--ring));
	--color-background: hsl(var(--background));
	--color-foreground: hsl(var(--foreground));

	--color-primary-50: #eff6ff;
	--color-primary-100: #dbeafe;
	--color-primary-200: #bfdbfe;
	--color-primary-300: #93c5fd;
	--color-primary-400: #60a6fa;
	--color-primary-500: #3b83f6;
	--color-primary-600: hsl(var(--primary));
	--color-primary-700: #1d4fd8;
	--color-primary-800: #1e41af;
	--color-primary-900: #1e3a8a;
	--color-primary-950: #172554;

	--color-primary: hsl(var(--primary));
	--color-primary-foreground: hsl(var(--primary-foreground));

	--color-secondary: hsl(var(--secondary));
	--color-secondary-foreground: hsl(var(--secondary-foreground));

	--color-destructive: hsl(var(--destructive));
	--color-destructive-foreground: hsl(var(--destructive-foreground));

	--color-muted: hsl(var(--muted));
	--color-muted-foreground: hsl(var(--muted-foreground));

	--color-accent: hsl(var(--accent));
	--color-accent-foreground: hsl(var(--accent-foreground));

	--color-popover: hsl(var(--popover));
	--color-popover-foreground: hsl(var(--popover-foreground));

	--color-card: hsl(var(--card));
	--color-card-foreground: hsl(var(--card-foreground));

	--color-sidebar: hsl(var(--sidebar-background));
	--color-sidebar-foreground: hsl(var(--sidebar-foreground));
	--color-sidebar-primary: hsl(var(--sidebar-primary));
	--color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
	--color-sidebar-accent: hsl(var(--sidebar-accent));
	--color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
	--color-sidebar-border: hsl(var(--sidebar-border));
	--color-sidebar-ring: hsl(var(--sidebar-ring));

	--radius-xl: calc(var(--radius) + 4px);
	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--font-sans:
		ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
	--font-inter: 'Inter', sans-serif;

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-caret-blink: caret-blink 1.25s ease-out infinite;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--bits-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--bits-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 1;
		}
		20%,
		50% {
			opacity: 0;
		}
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
	@media (width >= --theme(--breakpoint-sm)) {
		max-width: none;
	}
	@media (width >= 1400px) {
		max-width: 1400px;
	}
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@layer base {
	:root {
		--background: 221 44% 100%;
		--foreground: 221 59% 4%;
		--muted: 221 12% 95%;
		--muted-foreground: 221 7% 28%;
		--popover: 0 0% 99%;
		--popover-foreground: 221 59% 3%;
		--card: 0 0% 99%;
		--card-foreground: 221 59% 3%;
		--border: 221 7% 91%;
		--input: 221 7% 91%;
		--primary: 221 83% 53%;
		--primary-foreground: 0 0% 100%;
		--secondary: 221 14% 88%;
		--secondary-foreground: 221 14% 28%;
		--accent: 221 20% 78%;
		--accent-foreground: 221 20% 18%;
		--destructive: 0 92% 43%;
		--destructive-foreground: 0 0% 100%;
		--ring: 221 83% 53%;
		--chart-1: 221 83% 53%;
		--chart-2: 221 14% 88%;
		--chart-3: 221 20% 78%;
		--chart-4: 221 14% 91%;
		--chart-5: 221 86% 53%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 221 38% 4%;
		--foreground: 221 31% 97%;
		--muted: 221 12% 5%;
		--muted-foreground: 221 7% 72%;
		--popover: 221 38% 5%;
		--popover-foreground: 221 31% 98%;
		--card: 221 38% 5%;
		--card-foreground: 221 31% 98%;
		--border: 221 7% 12%;
		--input: 221 7% 12%;
		--primary: 221 83% 53%;
		--primary-foreground: 0 0% 100%;
		--secondary: 221 16% 9%;
		--secondary-foreground: 221 16% 69%;
		--accent: 221 23% 17%;
		--accent-foreground: 221 23% 77%;
		--destructive: 0 92% 45%;
		--destructive-foreground: 0 0% 100%;
		--ring: 221 83% 53%;
		--chart-1: 221 83% 53%;
		--chart-2: 221 16% 9%;
		--chart-3: 221 23% 17%;
		--chart-4: 221 16% 12%;
		--chart-5: 221 86% 53%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground antialiased font-inter md:subpixel-antialiased;
	}
}
